body {
  font-family: 'Droid Sans', sans-serif;
  color: #ffffff;
  background: #000000;
}

#title {
  display: inline-block;
  padding-right:;
}

#awards {
  margin-left: 20px;
  margin-bottom: 30px;
  display: inline-block;
}