---
layout: default
title: WOODY
carousel_images: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]
---

<header>
  <div class="grid">
    <div id="masthead" class="unit whole no-gutters">
      <a href="/"><img id="title" src="/img/main-title.png" width="389" height="100"/></a>
      <img id="awards" src="/img/awards.png" width="492" height="40"/>
    </div>
  </div>
  <div id="masthead-separator"></div>
</header>

<div id="intro" class="grid background-cover">
  <div class="unit whole">
    <div class="title">
      HIS DREAMS ARE BIG...<br/>
      BUT THEY'RE ABOUT TO GET<br/>
      OUT OF HAND
    </div>
    <div class="sub-title">
      THE STOP MOTION ANIMATED SHORT FILM
    </div>
    <div class="social">
      <a href="https://www.facebook.com/pages/Woody-Short-Film/147284742082289" target="_blank"><img src="/img/facebook.png" width="38" height="38"/></a>
      <a href="https://twitter.com/woodyshortfilm" target="_blank"><img src="/img/twitter.png" width="38" height="38"/></a>
    </div>
    <div id="nav-and-credits" class="grid">
      <div id="nav" class="unit half align-left pull-left">
        <ul>
          <li><a href="#info">INFO</a></li>
          <li><a href="#news">NEWS</a></li>
          <li><a href="#video">VIDEO</a></li>
          <li><a href="#images">IMAGES</a></li>
        </ul>
      </div>
      <div id="credits" class="unit half pull-right hide-on-mobiles">
        <img src="/img/credits.png" width="454" height="53"/>
      </div>
    </div>
  </div>
  <a class="top" href="/"><img src="/img/top.png" width="16" height="16"></a>
</div>

<div id="info" class="grid background-cover">
  <div class="unit whole">
    <p class="section-heading">INFO</p>
    <p class="paragraph">
      Ever since he was a child, Woody has dreamt of playing piano. The
      problem is that he only has wooden paddles for hands. Stuck in a job
      he doesn&rsquo;t want, Woody spends his days of being a concert
      pianist. His dreams are big...but they&rsquo;re about to get out of
      hand.
    </p>
    <p class="paragraph">
      WOODY was in production for over 2 years and developed from 
      conversations I was having with producer Jodi Matterson. I&rsquo;ve
      always loved stop motion and was keen to tell an animated story. There
      is a brilliant tactility to stop motion, and a great resonance
      thematically with the story of a character wanting fingers &mdash;
      articulated 24 frames per second by the animator&rsquo;s fingers.
    </p>
    <p class="paragraph">
      We shot the first minute of the film self-funded, and then opened it up
      to the public and had two successful crowd funding campaigns. We were
      then awarded the Screen NSW <em>Emerging Film Makers Fund</em> which
      helped us source Australia&rsquo;s best animators. The ambitions of this
      film were always bigger than our context, but it was a great challenge to
      try and achieve our vision in the most creative ways possible. We built
      the sets out of paper, foam-core &amp; cardboard so we could achieve an
      &lsquo;in-camera&rsquo; look while keeping costs down. We shot black and
      white because coloured ink was too expensive. We sourced hundreds of
      Barbie clothes through Facebook to dress the crowd and were extremely
      fortunate to have a large group of volunteers keen to help make the
      film.
    </p>
    <p class="paragraph">
      It was so energising and inspiring to work with all the brilliant
      collaborators who helped create WOODY. The film is an epic labor of love
      and an awesome representation of creative collaboration resulting in
      something better than any one person could achieve. The great thing about
      Woody&rsquo;s journey, which resonates in the making of the film, is that
      while Woody&rsquo;s dreams are perfect – they&rsquo;re only dreams. And
      while reality may be less perfect, it&rsquo;s so much better, because
      it&rsquo;s real.
    </p>
  </div>
  <a class="top" href="/"><img src="/img/top.png" width="16" height="16"></a>
</div>

<div id="news" class="grid background-cover">
  <div class="unit whole">
    <p class="section-heading">NEWS</p>
    <div id="tweet-container">
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/WoodyShortFilm" data-widget-id="343683249530339328"  data-chrome="noheader nofooter noborders transparent" height="360"></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <a class="top" href="/"><img src="/img/top.png" width="16" height="16"></a>
</div>

<div id="video" class="grid background-cover">
  <div class="unit whole">
    <p class="section-heading">VIDEO</p>
    <p class="quote">'WHERE DID YOU GET<br/>
      YOUR IDEAS FROM?'<br/>
      'THE IDEAS? OH MAN...<br/>
      I GOT A MILLION DREAMS...<br/>
      IT'S ALL I DO IS DREAM...<br/>
      ALL THE TIME'<br/>
      <span class="quoter">&mdash; Duke Ellington</span>
    </p>
    <div id="youtube-trailer" class="embedded-video modal hide fade" tabindex="-1">
      <iframe width="853" height="480"
        src="http://www.youtube.com/embed/xAjjklfl2cU?rel=0"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="youtube-making-of" class="embedded-video modal hide fade" tabindex="-1">
      <iframe width="853" height="480"
        src="http://www.youtube.com/embed/Lsh9YKM24Ww?rel=0"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="youtube-mood-reel" class="embedded-video modal hide fade" tabindex="-1">
      <iframe width="853" height="480"
        src="http://www.youtube.com/embed/v7zzFJpqgyo?rel=0"
        frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="video-thumbnails" class="grid left-align">
      <div class="unit one-third align-center pull-left">
        <a href="#youtube-trailer" data-toggle="modal">
          <img src="/img/woody-trailer-thumb.jpg" width="133"><br/>
        Woody Trailer</a>
      </div>
      <div class="unit one-third align-center">
        <a href="#youtube-making-of" data-toggle="modal">
          <img src="/img/woody-making-of-thumb.jpg" width="133"><br/>
        The Making of Woody</a>
      </div>
      <div class="unit one-third align-center pull-right">
        <a href="#youtube-mood-reel" data-toggle="modal">
          <img src="/img/woody-mood-reel-thumb.jpg" width="133"><br/>
        Woody Mood Reel</a>
      </div>
    </div>
  </div>
  <a class="top" href="/"><img src="/img/top.png" width="16" height="16"></a>
</div>

<div id="images" class="grid background-cover">
  <div class="unit whole">
    <div id="image-carousel" class="carousel slide modal hide fade" data-interval="false" tabindex="-1">
      <ol class="carousel-indicators">
        {%assign first = true %}
        {%assign indicator_index = -1%}
        {%for row in page.carousel_images%}
          {%for img in row%}
          <li data-target="#image-carousel" data-slide-to="{%increment indicator_index%}"{%if first%} class="active"{%endif%}></li>
          {%assign first = false%}
          {%endfor%}
        {%endfor%}
      </ol>
      <div class="carousel-inner">
        {%assign first = true %}
        {%for row in page.carousel_images%}
          {%for img in row%}
          <div class="{%if first%}active {%endif%}item"><img src="/img/carousel/{{img}}.jpg" width="800" alt=""></div>
          {%assign first = false%}
          {%endfor%}
        {%endfor%}
      </div>
      <a class="carousel-control left" href="#image-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#image-carousel" data-slide="next">&rsaquo;</a>
    </div>
    <p class="section-heading">IMAGES</p>
    {%assign thumbnail_index = -1%}
    {%for row in page.carousel_images%}
    <div class="grid thumbs-row">
      {%for img in row%}
      <div class="unit one-third">
        <a href="#image-carousel" data-toggle="modal" data-slide-to="{%increment thumbnail_index%}">
          <img src="/img/carousel/thumbs/{{img}}.jpg" width="115" height="61" alt="">
        </a>
      </div>
      {%endfor%}
    </div>
    {%endfor%}
  </div>
  <a class="top" href="/"><img src="/img/top.png" width="16" height="16"></a>
</div>

<footer>
  <div class="grid">
    <div id="copyright" class="unit half align-left">
      <div>STUART BOWEN</div>
      <div class="chalk-mark"></div>
      <div>WOODY &copy; 2013</div>
    </div>
    <div id="email" class="unit half align-right">
      EMAIL INFO@WOODYSHORTFILM FOR MORE INFO
    </div>
  </div>
</footer>
