<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/gridism.css" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300" type="text/css">
    <link rel="icon" href="/img/favicon.png">
  </head>
  <body class="wrap">
    {{ content }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
    // Google Analytics.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26157110-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script>
    // Navigation link behaviour.
    $("#nav a").click(function(e) {
      var dest = 0;
      if ($(this.hash).offset().top > $(document).height() - $(window).height()) {
        dest = $(document).height() - $(window).height();
      } else {
        dest = $(this.hash).offset().top;
      }
      // Scroll to destination
      $('html,body').animate({ scrollTop: dest }, 'slow');
      window.location.hash = this.hash;
      e.preventDefault();
    });

    // Scroll to the top of the page when .top is clicked.
    $('a.top').click(function(e) {
      $("html, body").animate({ scrollTop: 0 }, "slow");
      history.pushState(null, null, this.href);
      e.preventDefault();
    });

    // Enable left and right arrow keys to control the carousel.
    $(document).keydown(function(e) {
      var $carousel = $('#image-carousel');
      switch (e.which) {
        case 37: // left
          $carousel.carousel('prev');
          break;
        case 39: // right
          $carousel.carousel('next');
          break;
        default: return;
      }
      e.preventDefault();
    });

    // Stop video playback when video modal is dismissed.
    $('.embedded-video').on('hidden', function () {
      var $iframe = $(this).find('iframe'),
          src = $iframe.attr("src");
      $iframe.attr('src', '');
      $iframe.attr('src', src);
    });
    </script>
  </body>
</html>
